<!-- <div ng-controller="Carousel" class="banner">
	<link rel="stylesheet" type="text/css" href="styles/common/banner.css">
  <carousel interval="myInterval" no-wrap="noWrapSlides">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">
    </slide>
  </carousel>
  <div class="project">
		<ul>
			<li ng-repeat="projectList in projectLists">
				<a href="javascript:;" ng-click="goImages(projectList)">
					<img ng-src="{{projectList.images}}">
				</a>
			</li>
		</ul>
	</div>
</div> -->
<div  class="home">
	<div class="homeMain">
		<h5>基本信息</h5>
		<ul>
			<li>
				<label>性名：</label>
				<span>危文亮</span>
			</li>
			<li>
				<label>性别：</label>
				<span>男</span>
			</li>
			<li>
				<label>出生：</label>
				<span>1992年</span>
			</li>
			<li>
				<label>Tel：</label>
				<span><a href="tel://13666606473">13666606473</a></span>
			</li>
			<li>
				<label>Email：</label>
				<span>121048014@qq.com</span>
			</li>
			<li>
				<label>政治面貌：</label>
				<span>团员</span>
			</li>
			<li>
				<label>婚姻状况：</label>
				<span>否</span>
			</li>
			<li>
				<label>教育程度：</label>
				<span>大专</span>
			</li>
			<li>
				<label>现居住地：</label>
				<span>杭州滨江</span>
			</li>
			<li>
				<label>到岗时间：</label>
				<span>待定</span>
			</li>
		</ul>
	</div>
		
</div>