.home .homeMain ul{
	margin: 0.25rem 0;
	display: inline-block;
	overflow: hidden;
}
.home .homeMain ul li{
	font-size: 0.21875rem;
	line-height: 0.4375rem;
	padding: 0 0 0 0.4375rem;
	color: #666;
}
.home .homeMain ul li label{
	color: #333;
	font-weight: normal;
	width: 1.25rem;
}
.home	.personal ul li{
	float: left;
	width: 50%;
}