.home{
	max-width: 15.0rem;
	min-width: 5.0rem;
	margin: 0 auto;
}
.home .homeMain h5{
	background-color: #f5f5f5;
	font-size:0.28125rem;
	color: #333;
	padding: 0.125rem 0.4375rem;
}
.home .homeMain ul{
	margin: 0.25rem 0;
	display: inline-block;
	overflow: hidden;
}
.home .homeMain ul li{
	font-size: 0.21875rem;
	line-height: 0.4375rem;
	padding: 0 0 0 0.4375rem;
	color: #666;
}
.home .homeMain ul li label{
	color: #333;
	font-weight: normal;
	width: 1.25rem;
}
.home	.personal ul li{
	float: left;
	width: 50%;
}